In [5]:
%matplotlib inline
import math
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import datetime
from pandas import to_datetime
import seaborn as sn
import matplotlib.pyplot as plt
from collections import defaultdict
from scipy.stats.stats import pearsonr, iqr

In [76]:
customer_sequence = pd.read_csv("../preprocessed.csv", index_col=0)
customer_sequence

,BasketID,BasketDate,Sale,CustomerID,CustomerCountry,ProdID,ProdDescr,Qta
0,536365,2010-01-12 08:26:00,2.55,17850.0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6
1,536365,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,71053,WHITE METAL LANTERN,6
2,536365,2010-01-12 08:26:00,2.75,17850.0,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,8
3,536365,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6
4,536365,2010-01-12 08:26:00,3.39,17850.0,United Kingdom,84029E,RED WOOLLY HOTTIE WHITE HEART.,6
...,...,...,...,...,...,...,...,...
541904,581587,2011-09-12 12:50:00,0.85,12680.0,France,22613,PACK OF 20 SPACEBOY NAPKINS,12
541905,581587,2011-09-12 12:50:00,2.10,12680.0,France,22899,CHILDREN'S APRON DOLLY GIRL,6
541906,581587,2011-09-12 12:50:00,4.15,12680.0,France,23254,CHILDRENS CUTLERY DOLLY GIRL,4
541907,581587,2011-09-12 12:50:00,4.15,12680.0,France,23255,CHILDRENS CUTLERY CIRCUS PARADE,4
541908,581587,2011-09-12 12:50:00,4.95,12680.0,France,22138,BAKING SET 9 PIECE RETROSPOT,3

In [77]:
customer_sequence=customer_sequence.groupby(["CustomerID",'BasketID','BasketDate'])

In [78]:
customer_sequence=customer_sequence[["BasketDate"]].apply(list)

In [79]:
#customer_sequence=customer_sequence.groupby(["CustomerID"]).apply(list)
customer_sequence

CustomerID  BasketID  BasketDate
12347.0     537626    2010-07-12 14:57:00    [BasketDate, ProdDescr]
            542237    2011-01-26 14:30:00    [BasketDate, ProdDescr]
            549222    2011-07-04 10:43:00    [BasketDate, ProdDescr]
            556201    2011-09-06 13:01:00    [BasketDate, ProdDescr]
            562032    2011-02-08 08:48:00    [BasketDate, ProdDescr]
                                                      ...
18283.0     578262    2011-11-23 13:27:00    [BasketDate, ProdDescr]
            579673    2011-11-30 12:59:00    [BasketDate, ProdDescr]
            580872    2011-06-12 12:02:00    [BasketDate, ProdDescr]
18287.0     554065    2011-05-22 10:39:00    [BasketDate, ProdDescr]
            570715    2011-12-10 10:23:00    [BasketDate, ProdDescr]
Length: 16376, dtype: object

In [65]:
customer_sequence.iloc[0]

['BasketDate', 'ProdDescr']

In [5]:
def target_label(row):
    first_third = customer_indicators["spending"].quantile(0.33)
    second_third = customer_indicators["spending"].quantile(0.66)
    if (row["spending"] <= first_third):
        return 1
    elif (row["spending"] > first_third and row["spending"] <= second_third):
        return 2
    return 3

In [ ]:
customer_indicators["label"] = customer_indicators.apply(target_label, axis=1)